In [1]:
 # Google Colab doesn't come with this package installed, so we'll install it.
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.1.3-py3-none-any.whl (135 kB)
     |████████████████████████████████| 135 kB 24.5 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (7.9.0)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.21.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.9.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.0.10)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.2.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 10.2 MB/s
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2022.9.24)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.50.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.38.3)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.4.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.19.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (2.14.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.13.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.10.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.2)
Installing collected packages: jedi, kt-legacy, keras-tuner
Successfully installed jedi-0.18.1 keras-tuner-1.1.3 kt-legacy-1.0.4

In [2]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [4]:
#  Import and read the charity_data.csv

df = pd.read_csv("charity_data.csv")
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB
None

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

df = df.drop(columns=["EIN", "NAME"])

In [6]:
# Determine the number of unique values in each column.

for col in df.columns:
    print(f"{col} \n{df[col].value_counts()}\n\n")

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64


AFFILIATION
Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64


CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64


USE_CASE
Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64


ORGANIZATION
Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64


STATUS
1    34294
0        5
Name: STATUS, dtype: int64


INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64


SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64


ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64


IS_SUCCESSFUL
1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning

df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
application_types_to_replace = (df["APPLICATION_TYPE"].value_counts().loc[lambda x: x < 500]).keys().tolist()

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [10]:
# Replace in dataframe

for code in application_types_to_replace:
    print(code)
    df["APPLICATION_TYPE"] = df["APPLICATION_TYPE"].replace(code, "Other")
        
# Check to make sure binning was successful

df["APPLICATION_TYPE"].value_counts()

T9
T13
T12
T2
T25
T14
T29
T15
T17

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning

df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classifications_to_replace = (df["CLASSIFICATION"].value_counts().loc[lambda x: x < 1000]).keys().tolist()

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Replace in dataframe

for code in classifications_to_replace:
    df["CLASSIFICATION"] = df["CLASSIFICATION"].replace(code, "Other")
    
# Check to make sure binning was successful

df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`

alphasoup_cat = df.dtypes[df.dtypes == "object"].index.tolist() 
alphasoup_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [15]:
df[alphasoup_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [16]:
df1 = pd.get_dummies(df["APPLICATION_TYPE"], prefix="APP_TYPE", prefix_sep='_')
df2 = pd.get_dummies(df["AFFILIATION"], prefix="AFFIL", prefix_sep='_')
df3 = pd.get_dummies(df["CLASSIFICATION"], prefix="CLASS", prefix_sep='_')
df4 = pd.get_dummies(df["USE_CASE"], prefix="USE_CASE", prefix_sep='_')
df5 = pd.get_dummies(df["ORGANIZATION"], prefix="ORG", prefix_sep='_')
df6 = pd.get_dummies(df["INCOME_AMT"], prefix="INCOME", prefix_sep='_')
df7 = pd.get_dummies(df["SPECIAL_CONSIDERATIONS"], prefix="SPECIAL_CONSID", prefix_sep='_')
df8 = pd.concat([df[["ASK_AMT", "IS_SUCCESSFUL", "STATUS"]]], axis=1)

In [17]:
enc_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], axis=1)
enc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APP_TYPE_Other          34299 non-null  uint8
 1   APP_TYPE_T10            34299 non-null  uint8
 2   APP_TYPE_T19            34299 non-null  uint8
 3   APP_TYPE_T3             34299 non-null  uint8
 4   APP_TYPE_T4             34299 non-null  uint8
 5   APP_TYPE_T5             34299 non-null  uint8
 6   APP_TYPE_T6             34299 non-null  uint8
 7   APP_TYPE_T7             34299 non-null  uint8
 8   APP_TYPE_T8             34299 non-null  uint8
 9   AFFIL_CompanySponsored  34299 non-null  uint8
 10  AFFIL_Family/Parent     34299 non-null  uint8
 11  AFFIL_Independent       34299 non-null  uint8
 12  AFFIL_National          34299 non-null  uint8
 13  AFFIL_Other             34299 non-null  uint8
 14  AFFIL_Regional          34299 non-null  uint8
 15  CLASS_C1000             34299 non-null  uint8
 16  CLASS_C1200             34299 non-null  uint8
 17  CLASS_C2000             34299 non-null  uint8
 18  CLASS_C2100             34299 non-null  uint8
 19  CLASS_C3000             34299 non-null  uint8
 20  CLASS_Other             34299 non-null  uint8
 21  USE_CASE_CommunityServ  34299 non-null  uint8
 22  USE_CASE_Heathcare      34299 non-null  uint8
 23  USE_CASE_Other          34299 non-null  uint8
 24  USE_CASE_Preservation   34299 non-null  uint8
 25  USE_CASE_ProductDev     34299 non-null  uint8
 26  ORG_Association         34299 non-null  uint8
 27  ORG_Co-operative        34299 non-null  uint8
 28  ORG_Corporation         34299 non-null  uint8
 29  ORG_Trust               34299 non-null  uint8
 30  INCOME_0                34299 non-null  uint8
 31  INCOME_1-9999           34299 non-null  uint8
 32  INCOME_10000-24999      34299 non-null  uint8
 33  INCOME_100000-499999    34299 non-null  uint8
 34  INCOME_10M-50M          34299 non-null  uint8
 35  INCOME_1M-5M            34299 non-null  uint8
 36  INCOME_25000-99999      34299 non-null  uint8
 37  INCOME_50M+             34299 non-null  uint8
 38  INCOME_5M-10M           34299 non-null  uint8
 39  SPECIAL_CONSID_N        34299 non-null  uint8
 40  SPECIAL_CONSID_Y        34299 non-null  uint8
 41  ASK_AMT                 34299 non-null  int64
 42  IS_SUCCESSFUL           34299 non-null  int64
 43  STATUS                  34299 non-null  int64
dtypes: int64(3), uint8(41)
memory usage: 2.1 MB

In [18]:
# Split our preprocessed data into our features and target arrays

y = enc_df["IS_SUCCESSFUL"].values
X = enc_df.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

print(X_train_scaled.shape)
print(X_test_scaled.shape)

(25724, 43)
(8575, 43)

In [23]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    
    # Instantiate a Sequential model
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers.
    activation = hp.Choice('activation', ['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide the number of neurons in first layer and also
    # the activation function. 
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=43))

    # Allow kerastuner to decide the number of hidden layers and number of 
    # neurons in each one
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    # Define the output layer
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [24]:
# Import the kerastuner library

import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [25]:
# Run the kerastuner search for best hyperparameters

tuner.search(X_train_scaled, y_train,epochs=20, validation_data=(X_test_scaled, y_test))

Trial 60 Complete [00h 00m 32s]
val_accuracy: 0.6468804478645325

Best val_accuracy So Far: 0.7272303104400635
Total elapsed time: 00h 14m 37s

In [26]:
 # Get best model hyperparameters
 
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 3,
 'num_layers': 3,
 'units_0': 5,
 'units_1': 9,
 'units_2': 1,
 'units_3': 7,
 'units_4': 3,
 'units_5': 9,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0021'}

In [27]:
 # Evaluate best model against full test data
 
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5650 - accuracy: 0.7272 - 411ms/epoch - 2ms/step
Loss: 0.5649535059928894, Accuracy: 0.7272303104400635

In [28]:
 # Summarize the best model
 
best_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 132

 dense_1 (Dense)             (None, 5)                 20

 dense_2 (Dense)             (None, 9)                 54

 dense_3 (Dense)             (None, 1)                 10

 dense_4 (Dense)             (None, 1)                 2

=================================================================
Total params: 218
Trainable params: 218
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer

nn.add(tf.keras.layers.Dense(units=3, input_dim=43, activation="tanh"))

# Second hidden layer

nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Third hidden layer

nn.add(tf.keras.layers.Dense(units=9, activation="relu"))

# Fourth hidden layer

nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model

nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 3)                 132

 dense_6 (Dense)             (None, 5)                 20

 dense_7 (Dense)             (None, 9)                 54

 dense_8 (Dense)             (None, 1)                 10

 dense_9 (Dense)             (None, 1)                 2

=================================================================
Total params: 218
Trainable params: 218
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Train the model

fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6242 - accuracy: 0.6904
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5864 - accuracy: 0.7238
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5779 - accuracy: 0.7264
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7281
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5709 - accuracy: 0.7300
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5698 - accuracy: 0.7303
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5689 - accuracy: 0.7315
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5687 - accuracy: 0.7310
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5681 - accuracy: 0.7303
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5679 - accuracy: 0.7310
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5676 - accuracy: 0.7311
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5676 - accuracy: 0.7315
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5674 - accuracy: 0.7324
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5672 - accuracy: 0.7325
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5674 - accuracy: 0.7310
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5671 - accuracy: 0.7324
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5669 - accuracy: 0.7327
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5670 - accuracy: 0.7331
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5671 - accuracy: 0.7324
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5670 - accuracy: 0.7329
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5668 - accuracy: 0.7320
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5664 - accuracy: 0.7332
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5670 - accuracy: 0.7329
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5670 - accuracy: 0.7335
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5669 - accuracy: 0.7330
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5667 - accuracy: 0.7339
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5668 - accuracy: 0.7332
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5665 - accuracy: 0.7325
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7329
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5667 - accuracy: 0.7327
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7334
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5665 - accuracy: 0.7330
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5665 - accuracy: 0.7322
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5668 - accuracy: 0.7322
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7329
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7332
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7339
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7329
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5666 - accuracy: 0.7325
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7327
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5664 - accuracy: 0.7330
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7318
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7325
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7324
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7331
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7321
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5662 - accuracy: 0.7326
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7332
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5660 - accuracy: 0.7334
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5660 - accuracy: 0.7331
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5660 - accuracy: 0.7329
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5660 - accuracy: 0.7333
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5660 - accuracy: 0.7335
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5659 - accuracy: 0.7335
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5662 - accuracy: 0.7335
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7332
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7336
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7321
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5657 - accuracy: 0.7333
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7329
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5658 - accuracy: 0.7340
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7334
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5658 - accuracy: 0.7335
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7333
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5657 - accuracy: 0.7338
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5658 - accuracy: 0.7331
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5658 - accuracy: 0.7336
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7329
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5656 - accuracy: 0.7336
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5661 - accuracy: 0.7329
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5658 - accuracy: 0.7331
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5661 - accuracy: 0.7334
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5659 - accuracy: 0.7333
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7338
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7328
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5660 - accuracy: 0.7339
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7342
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7332
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5660 - accuracy: 0.7338
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5658 - accuracy: 0.7334
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7334
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7334
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7341
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7324
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7334
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5662 - accuracy: 0.7331
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5660 - accuracy: 0.7334
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7339
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7340
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7334
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7332
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7341
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7337
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7334
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5655 - accuracy: 0.7333
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5655 - accuracy: 0.7330
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5657 - accuracy: 0.7325
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5656 - accuracy: 0.7338
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7332
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7334

In [32]:
# Evaluate the model using the test data

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5808 - accuracy: 0.7215 - 372ms/epoch - 1ms/step
Loss: 0.5808143615722656, Accuracy: 0.7215160131454468

In [33]:
# Export our model to HDF5 file

nn.save("nn_optimized.h5")